.open-lottie{
    width: 100%;
    height: calc( 90vh - 60px );
    animation: lottie_opens;
    animation-duration: 1s;
}

@keyframes lottie_opens {
    from {
        width: 100%;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hide-lottie{
    opacity: 0;
    position: fixed;
    z-index: -1;
    animation: lottie_close;
    animation-duration: 750ms;
}

@keyframes lottie_close {
    from {
        z-index: -1;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}