
/* NOTICE */
.notice{
    display: flex;
    padding: 1em;
    position: fixed !important;
    top: 3em;
    right: 3em;
    z-index: 100;
    border: 0 !important;
    box-shadow: 0 0.25rem 1rem rgb(48 55 66 / 15%) !important;
    animation-name: notice_mozard;
    animation-duration: 800ms;
    border-radius: 7px;
    color: #fff;
    text-shadow: 0px 0 3px rgb(0 0 0 / 50%);
    font-weight: 600;
}

.notice.hidden{
    display: none;
}

.notice button{
    position: relative;
    width: 20px;
    padding: 0;
}

.notice button .screen-reader-text{
    display: none;
}

.notice .message{
    width: 200px;
    margin-left: 1em;
}

.notice .message h3{
    font-size: 1.1em;
    margin: 0;
    font-weight: 600;
}

.wp-core-ui .notice.is-dismissible{
    padding-right: 1em;
}

.notice .message p{
    font-size: .97em;
    margin: 0;
    font-weight: 400;
}

.notice.notice-error{
    background-color: orangered;
}

.notice.notice-devel{
    background-color: #2b283c;
}


.notice.notice-success{
    background-color: #54d549;  
}

.notice.updated{
    background-color: #5755d9;
}
.notice-dismiss:before{
    color: #ffffff;
}



.updated a:visited {
    color: #ffeb00;
}
 
@keyframes notice_mozard {
    0% {
        top: 120vh;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    65% {
        opacity: .5;
    }
    100% {
        top: 3em;
        opacity: 1;
    }
}